<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery page</title>

    {% load static %}

</head>
<body>
<h1>MY GALLERY</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci assumenda atque culpa ea eaque et eum facilis fugiat maxime molestias nam nemo non, obcaecati quae, quo rem sapiente sunt.</span><span>Commodi dignissimos magnam odit saepe sit temporibus. A accusantium animi aut autem ex explicabo fugiat harum illo labore modi, nulla ratione voluptatum! Aut doloribus minima non officia omnis pariatur voluptates.</span><span>Cupiditate deserunt earum et eveniet illo, inventore ipsa ipsum molestias perferendis porro sit, temporibus, totam voluptatibus. Assumenda eaque excepturi, exercitationem fuga ipsa laboriosam, maiores necessitatibus nemo nesciunt quidem, recusandae tenetur.</span></p>
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_4.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">
<img src="{% static 'assets/img_5.png' %}" alt="">



</body>
</html>