<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <style>
        h1{
            text-align: center;
            background-color: black;
            color: white;
            line-height: 80px;

        }
        h1:hover{
            background-color: #006b1b;
        }

    </style>

</head>

<body>
<a href="{% url 'About' %}">About</a>
<a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'home' %}">Homepage</a>
<a href="{% url 'form' %}">Form</a>
<a href="{% url 'product' %}">Product</a>

<h1>QuickDash App</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur culpa eum fugiat id inventore ipsam molestiae mollitia nisi officiis omnis pariatur, quam quasi repudiandae tempora vitae voluptas. Dolore, enim?</span><span>Dolores ipsam quaerat sequi sit veritatis. Illum quibusdam, totam. Deleniti error exercitationem praesentium reiciendis. Atque debitis delectus doloremque, esse laboriosam laborum necessitatibus, odio omnis placeat quas quidem soluta, tempore voluptas.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur consectetur corporis doloribus earum eligendi eveniet labore laborum minima necessitatibus neque nesciunt qui quia, reiciendis reprehenderit sint tempora tenetur velit.</span><span>Consequuntur iure quas tempora unde! Accusantium animi blanditiis dicta, enim expedita fugit, id ipsum iusto libero magni maiores mollitia natus nemo pariatur praesentium reprehenderit, suscipit tempore vel voluptas voluptate? Ad.</span><span>Delectus deserunt doloribus et quidem voluptate? Aliquid assumenda autem, consequuntur dignissimos doloribus facere ipsam ipsum porro voluptate? Cupiditate exercitationem facere, itaque officiis quibusdam reprehenderit veritatis. Architecto deleniti dolore earum pariatur?</span></p>
<img src="{% static 'assets/img.png' %}" alt="" class="image">
<img src="{% static 'assets/img_1.png' %}" alt="" class="image">
<img src="{% static 'assets/img_2.png' %}" alt="" class="image">
<img src="{% static 'assets/img_3.png' %}" alt="" class="image">
<img src="{% static 'assets/img_4.png' %}" alt="" class="image">
</body>
</html>