<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1 class="text-center text-warning mt-3 ">PRODUCT INFORMATION</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad blanditiis, dolore eius expedita ipsa labore minima nemo reiciendis repellat similique ullam ut. Dolore ea eos illo natus quod vero.</p>
<table class="table container">
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Product Quality</th>
    <th>Product Quantity</th>

    <tr class="table-info">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr class="table-warning">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr class="table-success">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
</table>


</body>
</html>